.navigation {
  display: flex;
  height: 100%;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-between;
    margin-left: -200px;
  }

  &__list-item {
    margin-right: 50px;
  }

  &__element {
    @include fonts-style ("Signika", normal, 18px, normal, 135%, white);
    transition: color 1s;

    &:hover {
      color: #b3b3b3;
    }
  }
}
