@import "./links/links";
@import "./total/total";
@import "./mobile-links/mobile-links";

.footer {
  width: 100%;
  background: #121212;

  &__content {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 75px;
  }

  &__links {

  }

  &__total {

  }


}

@media only screen and (max-width: 685px) {
  .footer {

    &__content {
      padding: 25px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .footer {

    &__content {
      // justify-content: center;
      flex-direction: column;

    }

    &__total {
      align-self: center;
    }
  }
}
