.description {
  margin: 50px 0;
  position: relative;

  &__arrow {
    position: absolute;
    left: 15px;
    top: 25px;
    width: 25px;
    height: 10px;
    background: url(../../../../../images/body/main/vacancies/dropdown/Cyan.svg) no-repeat left #F8F8FC;
    background-size: cover;
    transition: transform 1s;
    z-index: -1;
  }
  
  &__item {
    border: 1px solid #E9E9ED;
    border-left: none;
    border-right: none;
    position: relative;
    overflow-y: hidden;
    cursor: pointer;
    max-height: 60px;
    transition: max-height 1s;

    &_open {
      max-height: 500px;
    }
    
    &_closed {
      max-height: 60px;
    }
  }

  &__title,
  &__info,
  &__text {
    margin: 15px 50px;
  }

  &__title {
    @include fonts-style ("Roboto", normal, 22px, normal, 31px, #1B1B25);

    &_highlight {
      @include fonts-style ("Roboto", 500, 22px, normal, 26px, transparent);
      background: -webkit-linear-gradient(90deg, #FF1500 0%, #FE7000 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__info {
    margin-top: 30px;
    @include fonts-style ("Roboto", 500, 18px, normal, 24px, black);
  }

  &__text {
    max-width: 690px;
    @include fonts-style ("Lato", normal, 16px, normal, 28px, #1B1B25);
  }
}

@media only screen and (max-width: 685px) {
  .description {

    &__title {
      margin: 15px 0 15px 50px;
    }

    &__info,
    &__text {
      margin: 15px 0;
    }
  }
}
